body{
    margin:0;
    font-family: 'Space Mono', 'Concert One', sans-serif;
    padding: 20px 40px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing:grayscale;
}

a {
    text-decoration: none;
    color: black;
}

*{
    box-sizing: border-box;
}

